// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------


// SECTION FONDO INICIO
section.bg-centro{
    background-image: url(../img/fondo/fondo-1.jpg);
    min-height: 600px;
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

section.bg-centro h1{
    color:#fff;
    font-weight: 200;
    font-size: 2.5rem;
    padding-top: 50%;
}


@media (min-width:720px){
    section.bg-centro{
        margin-bottom: 0px !important;
    }

    section.bg-centro h1{
        font-size: 6rem;
        padding-top: 15%;
    }
    
    
}

@media (min-width:960px){
}

@media (min-width:1300px){
}

// SERVICIO

section.bg-servicio{
    background-color:$primario;
}

section.bg-servicio .container{

}

section.bg-servicio h1{
    color:#fff;
    font-size: 3.5rem;
    font-weight: 200;
}

section.bg-servicio h2{
    font-family: 'Raleway', sans-serif;
    color:#fff;
    font-size: 2.2rem;
    font-weight: bold;
}

section.bg-servicio h2 span{
    font-family: $font-family-titulo;
    font-weight: 400;

}



@media (min-width:720px){
    section.bg-servicio h1{
        font-size: 3rem;
    }
    
 
}

@media (min-width:960px){
    section.bg-servicio h1{
        font-size: 3.5rem;
    }
}

@media (min-width:1300px){
    section.bg-servicio h1{
        font-size: 5rem;
    }

}

// INFO-SERVICIOS

section.bg-infoservicios{
    background-image: url(../img/fondo/fondo-3.jpeg);
    min-height: 650px;
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

section.bg-infoservicios {
    position:relative;
}

section.bg-infoservicios div.imagecircle1::before{
    content: ""url(../img/svg/clock.svg)"";
    display:block;
    width: 120px;
    height:120px;
    position:absolute;
    left: 34%;
    top:15%;
}

section.bg-infoservicios div.imagecircle2::before{
    content: ""url(../img/svg/clipboard-list.svg)"";
    display:block;
    width: 120px;
    height:120px;
    position:absolute;
    left: 33%;
    top:20%;
}


section.bg-infoservicios div.imagecircle3::before{
    content: ""url(../img/svg/biblia.svg)"";
    display:block;
    width: 120px;
    height:120px;
    position:absolute;
    left: 33%;
    top:15%;
}


section.bg-infoservicios div.imagecircle4::before{
    content: ""url(../img/svg/sobre.svg)"";
    display:block;
    width: 120px;
    height:120px;
    position:absolute;
    left: 32%;
    top:15%;
}


section.bg-infoservicios div h1{
    color:#fff;
    font-size: 3.5rem;
    font-weight: 200;
}



@media (min-width:720px){
    section.bg-infoservicios div.imagecircle1::before{
        left: 40%;
        top:18%;
    }
    section.bg-infoservicios div.imagecircle2::before{
        left: 40%;
        top:21%;
    }
    section.bg-infoservicios div.imagecircle3::before{
        left: 40%;
        top:18%;
    }
    section.bg-infoservicios div.imagecircle4::before{
        left: 39%;
        top:17%;
    }
    
    section.bg-infoservicios div h1{
        font-size: 4rem;
    }
    
}

@media (min-width:960px){
    section.bg-infoservicios div.imagecircle1::before{
        left: 33%;
        top:19%;
    }
    section.bg-infoservicios div.imagecircle2::before{
        left: 30%;
        top:19%;
    }
    section.bg-infoservicios div.imagecircle3::before{
        left: 30%;
        top:18%;
    }
    section.bg-infoservicios div.imagecircle4::before{
        left: 30%;
        top:19%;
    }
    
    section.bg-infoservicios div h1{
        font-size: 4rem;
    }
}

@media (min-width:1024px){
    section.bg-infoservicios div.imagecircle1::before{
        left: 33%;
        top:14%;
    }
    section.bg-infoservicios div.imagecircle2::before{
        left: 30%;
        top:15%;
    }
    section.bg-infoservicios div.imagecircle3::before{
        left: 30%;
        top:15%;
    }
    section.bg-infoservicios div.imagecircle4::before{
        left: 23%;
        top:15%;
    }
    
    section.bg-infoservicios div h1{
        font-size: 2.7rem;
    }
}

@media (min-width:1300px){
    section.bg-infoservicios div.imagecircle1::before{
        left: 25%;
        top:18%;
    }
    section.bg-infoservicios div.imagecircle2::before{
        left: 25%;
        top:18%;
    }
    section.bg-infoservicios div.imagecircle3::before{
        left: 25%;
        top:18%;
    }
    section.bg-infoservicios div.imagecircle4::before{
        left: 25%;
        top:15%;
    }
        
    section.bg-infoservicios div h1{
        font-size: 4rem;
    }


}


//Acerca de Casa de Adoradores


