
.moto-container_content_56095f6d {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 300px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: transparent;
    border-style: none;
    border-color: #fff;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-image: url(../img/ministerios/09/ministries-img-lg-05.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}


.moto-container_content_56095f92 {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 300px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: transparent;
    border-style: none;
    border-color: #fff;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-image: url(../img/ministerios/09/staff-img-sq-14.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}



.moto-container_content_56095fc6 {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 300px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: transparent;
    border-style: none;
    border-color: #fff;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-image: url(../img/ministerios/09/staff-img-sq-09.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}



.moto-container_content_56095ff5 {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 300px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: transparent;
    border-style: none;
    border-color: #fff;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-image: url(/img/ministerios/09/staff-img-sq-07.jpeg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}



.moto-container_content_557a91db {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #ffd405;
    border-style: none;
    border-color: #fff;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}



.moto-container_content_56096024 {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: transparent;
    border-style: none;
    border-color: #fff;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-image: none;
}

