// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------


// HEADER DE LA WEB


header .img-logo{
    height: 80px;
}

header .navegacion .navbar-toggler{
    color: #f8f9fa;
    border-color: #dee2e6;
}


header .navegacion .navbar-toggler-icon{
    background-color: #f8f402;
}

header .navegacion ul li.nav-item .nav-link{
    color: #fff;
    font-family:$font-family-titulo;
    font-weight: 700;
    transition: border-top .2s ease-in-out;
    transition: border-bottom .2s ease-in-out;
}

header .navegacion ul li.nav-item .nav-link:hover{
    color:$secundario;
    border-top: 3px solid $primario; 
    border-bottom: 3px solid $primario; 
}

header .navegacion ul li.nav-item a.active{
    color:$primario !important;
}



@media (min-width:720px){
    header .img-logo{
        height: 80px;
    }

    header ul li.nav-item .nav-link{
        color: #fff;
        font-family:$font-family-titulo;
        font-weight: 700;
    }}

@media (min-width:960px){
    header .navegacion ul li.nav-item .nav-link{
        font-size: 17px;
    }
}

@media (min-width:1300px){
    header .img-logo{
        height: 100px;
    }

}


