// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------



// FLOATING ACTION BUTTON



/* variable */

/* scss-file */

*, body *{
    z-index: 10;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

#floating-action-button{
  position: fixed;
  bottom: 1vh;
  right: 1vw;
  min-width: 50px;
  min-height: 50px;
  max-width: 60px;
  max-height: 60px;
  width: 5vw;
  height: 5vw;
  border-radius: 100%;
  
  cursor: pointer;
  
  /* center-flex */
  display: flex;
  align-items: center;
  justify-content: center;
    
  /* material shadow */
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);  
  &:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  i{
    font-size: 2rem;
    color: $color-texto;
  }
}

/* DO NOT COPY */
/* 
.just-for-codepen{
    color: #212121;
    background: linear-gradient(to bottom, #f3e5f5 0%,#f3e5f5 10%,#e1bee7 10%,#e1bee7 20%,#ce93d8 20%,#ce93d8 30%,#ba68c8 30%,#ba68c8 40%,#ab47bc 40%,#ab47bc 50%,#9c27b0 50%,#9c27b0 60%,#8e24aa 60%,#8e24aa 70%,#7b1fa2 70%,#7b1fa2 80%,#6a1b9a 80%,#6a1b9a 90%,#4a148c 90%,#4a148c 100%);
    height: 100vh;
    padding: 20vw 20vh;
    a{
    color: #212121;
    text-decoration: none;
        &:hover{
            color: #304FFE;
            text-decoration: underline;
        }
    }
} */


